#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #1a1a1a;
}
body {
  font-family: Arial, sans-serif;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #1b1f19;
}

div {
  background-color: #d4d4d4;
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  padding: 10px 10px;
  border: black;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  color: white;
}

div > div {
  margin-top: 10px;
  background-color: #a4a4a4;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.compose-root-component {
  display: none;
}